# Dados (pastas com datasets)
data/
results/

# Ambiente virtual
teste_mdatagen/

# Configurações de ambiente Python (pyenv)
.python-version

# Arquivos de sistema e cache (recomendado adicionar)
__pycache__/
*.pyc
