# Dados (pastas com datasets)
data/
temporario/

# Código fonte ou dependências locais
source/

# Configurações de ambiente Python (pyenv)
.python-version

# Arquivos de sistema e cache (recomendado adicionar)
__pycache__/
*.pyc
.ipynb_checkpoints/